<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>AUTOREADING</title>
    <link rel="stylesheet" href="app.css"/>
</head>
<body class="noisy">
<header>
    <a href="/">Home</a>
</header>
<div class="piece output">
    <div class="arcana-center">
        <a th:href="@{'/reading/3card'}">THREE CARD SPREAD</a>
        <a th:href="@{'/reading/simple-cross'}">SIMPLE CROSS</a>
    </div>
</div>
<div class="piece scanlines noclick"></div>
<div class="piece glow noclick"></div>
</body>
</html>