<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>TAROT DATABASE</title>
    <link rel="stylesheet" href="app.css"/>
</head>
<body class="noisy">
<header>
    <a href="/">Home</a>
</header>
<div class="piece output cards">
    <div th:each="card : ${cards}" class="card">
        <a th:href="@{'/card/' + ${card.id}}">
            <img class="info" th:src="@{|/images/${card.id}.jpg|}" alt="card"/>
        </a>
    </div>
</div>
<div class="piece scanlines noclick"></div>
<div class="piece glow noclick"></div>
</body>
</html>