<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title> home </title>
    <link rel="stylesheet" href="app.css"/>
</head>
<body class="noisy">
    <div class="piece output">
        <div>
        <h1 style="text-align: center;">HACK THE PLANET</h1>
        <p style="text-align: center;">A tarot database and fortune telling project</p>
        <p style="text-align: center;">
        <a th:href="@{'/arcana'}">TAROT DATABASE</a>
        <a th:href="@{'/reading'}">AUTO READING</a>
        </p>
        </div>
        <p style="text-align: center;">*Best viewed in full screen*</p>
        <p style="text-align: center;">jordan.stanley1990@gmail.com</p>
    </div>
    <div class="piece scanlines noclick"></div>
    <div class="piece glow noclick"></div>
</body>
</html>